// Place all the styles related to the api/lodgings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.lodging-profile-intro {
  img {
    border-radius: 100%;
    border: 1px grey solid;
  }
}

.lodging-index-header {
  font-size: 30px;
}

.lodging-index {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 50px 40px 50px;
}

.lodging-index-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  width: 350px;

  img {
    width: 100%;
    height: auto;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: center;

    li {
      font-size: 20px;
      margin-right: 10px
    }
  }
}

.lodging-show-container {
  height: 600px;

  img {
    width: 100%;
    margin:-13% 0;
  }
}


.lodging-profile-container {
  position: relative;
  z-index: 9999;
  background-color: white;
  width: 100%;
  box-shadow: 1px 0px 4px #888888;
}

.lodging-profile {
  padding-left: 250px;
  width: 700px;
  position: relative;
  z-index: 9998;
  display: flex;
  flex-direction: column;

  > div:not(:last-child) {
    border-bottom: 1px #D4D4D4 solid;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  h1 {
    padding-top: 10px;
  }
}

.lodging-profile-intro {
  display: flex;
  flex-direction: column;
  height: 70px;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 20px;
    }

    div {
      p {
        font-size: 15px;
        padding-right: 20px;
        vertical-align: middle;
      }

      img {
        width: 80px;
        height: 80px;
      }
    }
  }
}

.lodging-profile-icons {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  }
  .fa {
    font-size: 50px;
  }
}

.lodging-profile-bio {
  p {
    padding: 10px 0px 0px 0px;
  }
}

.lodging-profile-space {
  ul {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;

    li {
      padding: 10px 0px 0px 0px;
    }
  }
}

.lodging-profile-amenities {
  h2 {
    padding-bottom: 10px
  }
  ul {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
    height: auto;
  }
}

.lodging-profile-pricing {
  p {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bolder;
  }
}

.lodging-profile-cancellation {
  p {
    padding-top: 10px;
  }
}

.logged-in-buttons-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 99999;
}

.edit-button {
}

.delete-button {
  margin-top: 10px;
}

.lodging-image-dropbox {
  width: 60%;
  height: 200px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
  margin-bottom: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    padding-top: 50px;
  }
}

.lodging-image-container {
  height: 550px;
}
