// Place all the styles related to the api/lodgings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.lodging-index-header {
  font-size: 30px;
}

.lodging-index {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 50px 40px 50px;
}

.lodging-index-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  width: 350px;

  img {
    border-radius: 10px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: center;

    li {
      font-size: 20px;
      margin-right: 10px
    }
  }
}

.lodging-show-container {
  height: 600px;

  img {
    margin:-13% 0;
  }
}

.lodging-profile-container {
  position: relative;
  z-index: 9999;
  background-color: white;
  width: 1680px;
  box-shadow: 1px 0px 4px #888888;
}

.lodging-profile {
  padding-left: 200px;
  width: 600px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;

  div {
    padding-bottom: 30px;
  }
}
