.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 20px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99999;
  background: white;
  box-shadow: 0px 1px 2px #888888;
  height: 50px;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 600px;

  h3 {
    color: #FC3468;
    font-weight: 300;
  }

  img {
    border-radius: 50%;
    margin-left: 20px;
    width: 45px;
    height: 45px;
  }
}

.left-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 550px;
  vertical-align: bottom;

  input {
    border: 1px #e8e8ea solid;
    font-size: 17px;
    width: 310px;
    text-align: center;
    margin: auto;
    padding: 6px;
  }
}

.nav-header {
  font-size: 38px;
  color: #FC3468;
  background-color: white;
}

.button {
  font-size: 18px;
  padding: 6px;
  background: none;
  color: #FC3468;
  width: 80px;
  margin-left: 20px;
  text-align: center;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  border-bottom: 1px solid white;
  border-radius: 0px;
}

.button:hover {
  color: black;
  border-bottom: 1px solid black;
}

.x-button {
  font-size: 40px;
  padding: 7px;
  color: black;
  width: 20px;
  text-align: center;
  background: none;
}

.search-container {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  align-items: center;

  input {
    text-align: left;
  }
}

.logo-button {
  display: flex;
  flex-direction: row;
  vertical-align: bottom;
  background: none;

  img {
    padding-right: 15px;
  }

  h1 {
    padding-top: 5px;
  }
}
