.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 20px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99999;
  background: white;
  box-shadow: 0px 1px 2px #888888;
}

.right-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 450px;

  img {
    border-radius: 50%;
    border: 1px grey solid;
  }
}

.nav-header {
  font-size: 38px;
  color: #FC3468;
}

.button {
  font-size: 20px;
  border-radius: 5px;
  padding: 7px;
  background: #FC3468;
  color: white;
  width: 125px;
  text-align: center;
}

.x-button {
  font-size: 40px;
  padding: 7px;
  color: black;
  width: 20px;
  text-align: center;
  background: none;
}
