// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lodging-profile-reviews {
  h2 {
    padding-top: 20px;
  }
}

.review-item-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  border-bottom: 1px dashed #D4D4D4;
  margin-top: 30px;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
  }
}

.review-line-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
  }
}

.review-line-two {
  display: flex;
  flex-direction: column;
  align-content: flex-start;

  h3 {
    padding-top: 10px;
    font-size: 20px;
  }
}

.review-form {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;

  > div {
    padding-top: 20px;
  }

  h2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.review-form-rating {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-form-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 530px;

  input {
    border: 1px solid grey;
    width: 400px;
  }
}

.review-form-body {
  display: flex;
  flex-direction: column;

  textarea {
    border: 1px solid grey;
    height: 100px;
  }
}
