// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 20px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99999;
  background: white;
  box-shadow: 0px 1px 2px #888888;
}

// Below will revert back to static
// .navbar {
//   border-bottom: 1px #e8e8ea solid;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   padding: 4px 20px 4px 20px;
//   position: relative;
//   z-index: 999;
//   background: white;
// }

.right-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 450px;

  img {
    border-radius: 50%;
  }
}

.nav-header {
  font-size: 38px;
  color: #FC3468;
}

.button {
  font-size: 20px;
  border-radius: 5px;
  padding: 7px;
  background: #FC3468;
  color: white;
  width: 125px;
  text-align: center;
}

.x-button {
  font-size: 40px;
  padding: 7px;
  color: black;
  width: 20px;
  text-align: center;
  background: none;
}

.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.session-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-form h2 {
  font-size: 30px;
  text-align: center;
}

.session-form input {
  font-size: 20px;
  border: 1px #e8e8ea solid;
  text-align: center;
  width: 300px;
  padding: 10px 50px 10px 50px;
}

.session-form input[type='submit'] {
  font-size: 20px;
  border-radius: 5px;
  padding: 7px;
  background: #FC3468;
  color: white;
  width: 125px;
  text-align: center;
}

.session-footer-link {
  font-weight: bolder;
  text-decoration: underline;
}

.lodging-profile {
  position: relative;
  z-index: 9998;
  background: white
}
